<%- include('../partials/head') %>

    <div class="containerMiniForm">
        <div class="container">

            <% if (locals.errors) {%>
                <ul>
                    <% errors.forEach((error)=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }); %>
                </ul>
                <% } %>
                    <form class="dark-form" action="/author/add" method="POST">
                        <div class="form-group">
                            <label for="name_author">Name author</label>
                            <input type="text" name="name_author" id="name_author" placeholder="Name author">

                        </div>
                        <button type="submit" class="btn btn-primary" style="justify-self: center;">Add author</button>
                    </form>
        </div>

    </div class="containerMiniForm">

    <%- include('../partials/footer') %>