<%- include('../partials/head') %>

    <div id="addModal">
        <div class="modal-content">

            <% if (locals.errors) {%>
                <ul>
                    <% errors.forEach(function(error) { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <% }); %>
                </ul>
                <% } %>
                    <form class="dark-form" action="/author/add" method="POST">
                        <div class="form-group">
                            <label for="name_author">Name author</label>
                            <input type="text" name="name_author" id="name_author" placeholder="Name author">

                        </div>
                        <button type="submit" class="btnSubmit">Add author</button>
                    </form>
        </div>

    </div>

    <%- include('../partials/footer') %>