<nav>
    <ul>
        <li><a href="/" class="btn btn-outline">Home</a></li>
        <li><a href="/manhwa" class="btn btn-outline">Manhwa</a></li>
        <li><a href="/author" class="btn btn-outline">Author</a></li>
        <li><a href="/tags" class="btn btn-outline">Tags</a></li>
    </ul>
</nav>